In [6]:
import pandas as pd
import numpy as np
from functools import reduce
from IPython.display import display

In [7]:
vaccinationsDF = pd.read_csv('dataFiles/vaccinations.csv', sep=',', header=0)
casesDF = pd.read_csv('dataFiles/covidCases.csv', sep=',', header=0)

In [14]:
vaccinationsDF['date'] = pd.to_datetime(vaccinationsDF['date'], format='%Y-%m-%d').apply(lambda x: x.toordinal())
casesDF['Date_reported'] = pd.to_datetime(casesDF['Date_reported'], format='%Y-%m-%d').apply(lambda x: x.toordinal())

In [16]:
display(casesDF.head(5))
display(vaccinationsDF.head(5))

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,737427,AF,Afghanistan,EMRO,0,0,0,0
1,737428,AF,Afghanistan,EMRO,0,0,0,0
2,737429,AF,Afghanistan,EMRO,0,0,0,0
3,737430,AF,Afghanistan,EMRO,0,0,0,0
4,737431,AF,Afghanistan,EMRO,0,0,0,0

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,719163,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,719163,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,719163,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,719163,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,719163,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

In [17]:
display(casesDF.describe())

,Date_reported,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
count,232023.000000,2.320230e+05,2.320230e+05,232023.000000,2.320230e+05
mean,737916.000000,2.601948e+03,8.514767e+05,27.946092,1.376836e+04
std,282.613418,1.651634e+04,4.226513e+06,153.492414,6.195040e+04
min,737427.000000,-3.295200e+04,0.000000e+00,-2440.000000,0.000000e+00
25%,737671.000000,0.000000e+00,4.890000e+02,0.000000,6.000000e+00
50%,737916.000000,2.200000e+01,1.674200e+04,0.000000,2.060000e+02
75%,738161.000000,4.860000e+02,2.317500e+05,5.000000,3.583000e+03
max,738405.000000,1.255833e+06,9.358072e+07,11447.000000,1.036949e+06

In [ ]:
df = reduce(lambda left, right: pd.merge(left, right, on=['KodTeryt'], how='outer'), [casesDF, vaccinationsDF])